@font-face {
  font-family: GreatVibes-Regular;
  src: url(./assets/fonts/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: MinionVariableConcept-Roman;
  src: url(./assets/fonts/MinionVariableConcept-Roman.otf);
}

@font-face {
  font-family: MinionVariableConcept-Italic;
  src: url(./assets/fonts/MinionVariableConcept-Italic.otf);
}

:root {
  --clr-main: #899378;
  --clr-accent: #ced0ca;
  --clr-bg: #fff;
  --clr-text-light: #fff;
  --clr-text-dark: #39393a;
  --clr-text-main: #777f6e;

  --ff-base: "MinionVariableConcept-Italic", sans-serif;
  --ff-accent: "MinionVariableConcept-Roman", sans-serif;
  --ff-heading: "GreatVibes-Regular", sans-serif;

  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-400: clamp(1.35rem, calc(1.2rem + 0.73vw), 1.77rem);
  --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --fs-800: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:visited {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

/* utility */

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  line-height: 1.5;
}

header {
  position: fixed;
  inset: 0;
  width: 100%;
  max-height: max-content;
  color: var(--clr-text-light);
  background: var(--clr-main);
  padding: 1em;
  z-index: 999;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-evenly;
  max-width: 75%;
  margin-inline: auto;
  font-size: calc(var(--fs-400) * 0.7);
}

header li {
  position: relative;
}

header li::after {
  content: "";
  position: absolute;
  background: var(--clr-bg);
}

section {
  display: grid;
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
  scroll-margin-top: 1.5em;
}

.section-title {
  color: var(--clr-text-dark);
  text-align: center;
}

.section-title__inverted {
  color: var(--clr-text-light);
}

h1 {
  font-size: var(--fs-700);
  color: var(--clr-text-dark);
}

h2 {
  font-size: var(--fs-600);
  color: var(--clr-text-main);
}

h1,
h2 {
  font-family: var(--ff-heading);
  text-align: center;
  text-wrap: balance;
}

.home-icon {
  position: absolute;
  top: 6rem;
  right: 0;
  display: grid;
  place-items: center;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: var(--clr-text-light);
  background-color: var(--clr-main);

  display: none;
}

/* decorations */

.floral-decoration {
  position: absolute;
  z-index: 1000;
}

.floral-decoration__container {
  position: absolute;
}

.top-left {
  left: 0;
}

.top-right {
  right: 0;
}

.top-left,
.top-right {
  top: 0;
  height: 15rem;
}

.bottom-center {
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* landing page  */

.landing-page {
  text-align: center;
  place-items: center;
  grid-template-rows: 1fr 2fr 1fr;
  position: relative;
}

.names {
  margin-top: 3rem;
}

.landing-hero {
  position: relative;
}

.img-container {
  margin-inline: auto;
  overflow: hidden;
  border-radius: 999rem;
  width: min(100% - 2rem, 30rem);
}

.img-container img {
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);
}

.landing-page p {
  margin-top: 1.25em;
}

.landing-page p span {
  font-size: var(--fs-500);
  color: var(--clr-text-main);
}

/* invite */

.invite {
  text-align: center;
}

.date-time-wrapper {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
}

.day,
.time {
  font-size: 1.25rem;
  color: var(--clr-text-main);
  text-transform: uppercase;
  border-block: 1px solid var(--clr-text-main);
  padding-block: 0.5em;
}

.date {
  font-size: 1.4rem;
  color: var(--clr-text-main);
  border-inline: 1px solid var(--clr-text-main);
}

.date::before {
  content: "april";
}

.date::after {
  content: "2024";
}

.date::before,
.date::after {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

/* agenda  */

.agenda {
  text-align: center;
}

.agenda-wrapper {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem;
}

.agenda-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fa-ring::before {
  font-size: 1.75rem;
  text-align: center;
}

/* rsvp */

.rsvp {
  text-align: center;
  background-color: var(--clr-main);
  color: var(--clr-text-light);
}

/* registry */

.registry {
  text-align: center;
  background-color: var(--clr-main);
  color: var(--clr-text-light);
}
