@font-face {
  font-family: GreatVibes-Regular;
  src: url(./assets/fonts/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: MinionVariableConcept-Roman;
  src: url(./assets/fonts/MinionVariableConcept-Roman.otf);
}

@font-face {
  font-family: MinionVariableConcept-Italic;
  src: url(./assets/fonts/MinionVariableConcept-Italic.otf);
}

:root {
  --clr-main: #899378;
  --clr-accent-light: #ced0ca;
  --clr-accent-med: #9ba294;
  --clr-accent-dark: #707a69;
  --clr-bg: #fff;
  --clr-text-light: #fff;
  --clr-text-dark: #39393a;
  --clr-text-main: #777f6e;

  --ff-base: "MinionVariableConcept-Italic", sans-serif;
  --ff-accent: "MinionVariableConcept-Roman", sans-serif;
  --ff-heading: "GreatVibes-Regular", sans-serif;

  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-400: clamp(1.35rem, calc(1.2rem + 0.73vw), 1.77rem);
  --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --fs-800: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);

  --br-lines: 10px;
  --br-pill: 999rem;
  --br-modal: 10px;

  --z-index-decoration: 999;
  --z-index-header: 998;
  --z-index-hamburger: 1000;
  --z-index-modal: 1001;

  --light-shadow: rgba(41, 41, 41, 0.2) 0px 7px 29px 0px;
  --dark-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --soft-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --inner-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;

  --desktop-width: 800px;

  --desktop-breakpoint: 1024px;
  --mobile-breakpoint: 480px;
}
/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:visited {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

/* utility */

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  line-height: 1.5;
  color: var(--clr-text-dark);
}

/* desktop header  */

header {
  position: sticky;
  inset: 0;
  width: 100%;
  max-height: max-content;
  color: var(--clr-text-light);
  background: linear-gradient(
    90deg,
    var(--clr-accent-dark),
    var(--clr-main),
    var(--clr-accent-dark)
  );
  padding: 0.75em;
  z-index: var(--z-index-header);
  box-shadow: var(--light-shadow), var(--inner-shadow);
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-inline: auto;
  font-size: calc(var(--fs-400) * 0.9);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  header ul {
    justify-content: space-evenly;
    max-width: 800px;
    font-size: var(--fs-400);
  }
}

header li {
  --_hover-scale: scale(0);
  position: relative;
  /* border-right: 2px solid white; */
  padding-inline: 0.5em;
}

header li::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--clr-text-light);
  height: 2px;
  width: 100%;
  border-radius: var(--br-lines);
  transform: var(--_hover-scale);
  transition: transform 250ms ease-in-out;
}

header li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--clr-text-light);
  height: 50%;
  width: 1px;
  border-radius: var(--br-lines);
  display: none;
}

header li:last-child:after {
  display: none;
}

header li:hover,
header li:focus-within {
  --_hover-scale: scaleX(0.8);
}

@media screen and (max-width: 1024px) {
  .desktop-menu {
    display: none !important;
  }
}

/* mobile header  */

.primary-header {
  --primary-header-br: var(--br-modal);
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  margin: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-main);
  box-shadow: var(--light-shadow), var(--inner-shadow);
  z-index: var(--z-index-hamburger);
  transition: background-color 250ms;
  font-family: var(--ff-base);
}

.primary-header .primary-header__nav {
  padding: 0 2rem;
  margin: 0;
  font-size: var(--fs-600);
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: var(--inner-shadow);
}

@media screen and (max-width: 1024px) {
  .primary-header .primary-header__nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50vh;
    height: 50dvh;
    font-size: var(--fs-500);
    font-weight: 400;
    text-align: center;
    background-color: var(--clr-accent-med);

    margin: 0;
    padding: 0;
    list-style: none;

    padding: 2.5em 2em;
    border-radius: calc(var(--primary-header-br) * 1.5) 0
      calc(var(--primary-header-br) * 1.5) calc(var(--primary-header-br) * 1.5);
  }
}

.primary-header .primary-header__nav li {
  padding-block: 0.5rem;
  position: relative;
}

.primary-header .primary-header__nav li a {
  color: var(--clr-text-light);
  position: relative;
}

.primary-header .primary-header__nav li a:hover {
  color: var(--clr-accent-light);
}

.primary-header .primary-header__nav li a::after {
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: var(--underline, 0%);
  height: 2px;
  background-color: var(--clr-accent-light);
  transition: all 150ms;
  border-radius: var(--br-lines);
}

.primary-header .primary-header__nav li a:hover::after {
  width: 100%;
}

.invert-bg {
  background-color: var(--clr-main);
  color: var(--clr-accent-light);
}

.primary-header.invert-bg .primary-header__nav li a {
  color: var(--clr-accent-light);
}

@media screen and (min-width: 1024px) {
  .mobile-menu {
    display: none !important;
  }
}

/* hamburger button */

@media screen and (min-width: 1024px) {
  .hamburger-button {
    display: none !important;
  }
}

.hamburger-button svg {
  transform: scale(0.75);
}

@media screen and (max-width: 1024px) {
  .hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    padding: 0;
    border-radius: 1rem;
    --button-color: #ffffff;
    --button-animation-speed: 150ms;
    z-index: var(--z-index-hamburger);
    width: 3.5rem;
    height: 3.5rem;

    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    transform: scale(0.6);
    transform-origin: center;
  }

  /* hamburger icon */

  .hamburger-button span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--button-color);
    border-radius: var(--br-lines);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .hamburger-button span:nth-child(1) {
    top: 0px;
  }

  .hamburger-button span:nth-child(2),
  .hamburger-button span:nth-child(3) {
    top: 18px;
  }

  .hamburger-button span:nth-child(4) {
    top: 36px;
  }

  .hamburger-button.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .hamburger-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger-button.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

@media screen and (min-width: 1024px) {
  main,
  section {
    max-width: var(--desktop-width);
    margin: 2rem auto;
  }
}

section {
  display: grid;
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  width: min(100% - 4rem, 50rem);
  margin-inline: auto;
  /* scroll-margin-top: 1.5em; */
}

.section-title {
  color: var(--clr-text-dark);
}

.section-title__inverted {
  color: var(--clr-text-light);
}

h1 {
  font-size: var(--fs-700);
  color: var(--clr-text-dark);
}

h2 {
  font-size: var(--fs-600);
  color: var(--clr-text-main);
}

h1,
h2 {
  font-family: var(--ff-heading);
  text-align: center;
  text-wrap: balance;
  font-weight: 500;
}

.hide {
  display: none !important;
}

/* @media screen and (max-width: 1024px) {
  .hide--mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hide--desktop {
    display: none !important;
  }
} */

.show {
  display: block !important;
}

.button--main {
  margin: 1em;
  padding: 0.25em 2em;
  outline: 0;
  border: 0;
  background: var(--clr-accent-dark);
  background: linear-gradient(
        90deg,
        var(--clr-accent-dark) 0%,
        var(--clr-accent-med) 50%
      )
      padding-box,
    linear-gradient(to right, var(--clr-accent-med), var(--clr-accent-dark))
      border-box;
  border-radius: 50em;
  border: 5px solid transparent;
  color: var(--clr-text-light);
  cursor: pointer;
  font-weight: 700;
}

.button--main:hover,
.button--main:focus-within {
  background: var(--clr-accent-med);
  background: linear-gradient(
        90deg,
        var(--clr-accent-med) 0%,
        var(--clr-accent-dark) 50%
      )
      padding-box,
    linear-gradient(to right, var(--clr-accent-dark), var(--clr-accent-med))
      border-box;
}

/* dialog */

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

/* decorations */

.floral-decoration {
  position: absolute;
}

.floral-decoration__container {
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.fixed-height {
  height: var(--floral-decoration__height);
  position: fixed;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.bottom-center--image {
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .bottom-center--image {
    width: 50%;
  }
}

.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-block: 3rem;
}

.center {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.z-1000 {
  z-index: 1000;
}

@media screen and (min-width: 1024px) {
  .disable-vertical-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

/* landing page  */

.landing-page {
  text-align: center;
  place-items: center;
  grid-template-rows: 0.5fr 2fr 1fr;
  position: relative;
}

.names {
  margin-top: 3rem;
}

.landing-hero {
  position: relative;
}

.img-container {
  margin-inline: auto;
  overflow: hidden;
  border-radius: 999rem;
  width: min(100% - 2rem, 30rem);
  height: 27rem;
}

.img-container img {
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .img-container {
    width: min(100% - 2rem, 25rem);
    height: 32rem;
  }

  .img-container img {
    transform: scale(1);
  }
}

.landing-hero .floral-decoration {
  max-width: 400px;
}

.landing-page p {
  /* margin-top: -4rem; */
}

.landing-page p span {
  font-size: var(--fs-500);
  color: var(--clr-text-main);
}

/* invite */
#invite-page .floral-decoration {
  z-index: var(--z-index-decoration);
}

.invite {
  text-align: center;
  place-items: center;
  align-content: center;
}

.invite > * {
  margin-bottom: 1em;
}

.invite p {
  max-width: 32ch;
  margin-inline: auto;
}

@media screen and (min-width: 1024px) {
  .invite p {
    max-width: 50ch;
    margin-inline: auto;
    text-wrap: balance;
  }
}

.invite .names {
  margin: 0;
}

.date-time-wrapper {
  display: grid;
  grid-template-columns: 1fr 125px 1fr;
  align-items: center;
  min-width: 75%;
}

.date-time-wrapper:not(.date-number) {
  font-family: var(--ff-accent);
}

.day,
.time {
  font-size: var(--fs-300);
  color: var(--clr-text-main);
  text-transform: uppercase;
  border-block: 2px solid var(--clr-text-main);
  padding: 0.5em;
  position: relative;
  border-radius: 2px;
}

@media screen and (min-width: 1024px) {
  .day,
  .time {
    font-size: var(--fs-400);
  }
}

.day::after,
.time::before {
  content: "";
  position: absolute;
  /* border-right: 2px solid var(--clr-text-main); */
  height: 60%;
  width: 2px;
  background-color: var(--clr-text-main);
  top: 50%;
  transform: translateY(-50%);
  border-radius: var(--br-lines);
}

.day::after {
  right: 0;
}

.time::before {
  left: 0;
}

.date {
  color: var(--clr-text-main);
  line-height: 1.2;
}

.date::before {
  content: "april";
  font-size: var(--fs-300);
}

@media screen and (min-width: 1024px) {
  .date::before {
    font-size: calc(var(--fs-300) * 1.25);
  }
}

.date::after {
  content: "2024";
  font-size: calc(var(--fs-400) * 0.75);
}

@media screen and (min-width: 1024px) {
  .date::after {
    font-size: calc(var(--fs-300) * 1.25);
  }
}

.date::before,
.date::after {
  display: block;
  text-transform: uppercase;
}

.date-number {
  font-family: var(--ff-heading);
  font-size: var(--fs-600);
}

.date-number sup {
  margin-left: 0.2em;
}

/* agenda  */

@media screen and (min-width: 1024px) {
  #agenda-page .floral-decoration {
    margin-block: 0;
    margin-top: clamp(6rem, 12vh, 15rem);
    height: 6rem;
  }
}

.agenda {
  text-align: center;
}

.agenda h1 {
  padding: 1em 1em 0.5em 1em;
  margin-top: 6rem;
}

@media screen and (min-width: 1024px) {
  .agenda h1 {
    margin-top: 4rem;
  }
}

.agenda-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
  padding-bottom: 1em;
  overflow: hidden;
}

.agenda-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-dark);
  height: 100%;
  width: 2px;
}

/* .agenda-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-dark);
  height: 2px;
  width: 75%;
} */

.agenda-item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3em;
  font-size: var(--fs-300);
}

@media screen and (min-width: 1024px) {
  .agenda-item {
    gap: 4em;
    font-size: var(--fs-400);
  }

  .agenda-item .agenda-item__icon {
    width: 3.5rem;
  }
}

.agenda-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-dark);
  width: 10px;
  aspect-ratio: 1;
  border-radius: 5px;
}

/* .agenda-item:last-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-dark);
  width: 10px;
  aspect-ratio: 1;
  border-radius: 5px;
} */

.agenda-item__icon {
  width: 2.5rem;
  aspect-ratio: 1;
  margin-left: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.agenda-item__detail {
  text-align: left;
}

.fa-ring::before {
  font-size: 1.75rem;
}

/* rsvp */

#rsvp-page .floral-decoration {
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  #rsvp-page .floral-decoration {
    z-index: var(--z-index-decoration);
  }
}

.rsvp {
  text-align: center;
  background-color: var(--clr-text-light);
  color: var(--clr-text-dark);
  place-items: center;
  width: 100%;
  overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
  .rsvp {
    place-items: initial;
    justify-items: center;
    align-content: space-evenly;
    grid-template-rows: 1fr;
  }
}

.rsvp-wrapper {
  display: grid;
  gap: 1em;
  max-width: min(100% - 4rem, 40ch);
  align-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .rsvp-wrapper {
    margin-bottom: 8rem;
  }
}

.rsvp .date-time-wrapper > * {
  color: var(--clr-text-dark);
  margin-bottom: 1rem;
}

.rsvp .day,
.rsvp .time {
  font-size: var(--fs-300);
  border-block: 2px solid var(--clr-text-dark);
  border-radius: 2px;
}

.rsvp .day::after,
.rsvp .time::before {
  background-color: var(--clr-text-dark);
}

.rsvp .date::before {
  content: "";
}

.rsvp .date::after {
  content: "2023";
}

.rsvp__submit {
  position: relative;
  background-color: var(--clr-accent-light);
  border-radius: 5px;
  padding: 1em;
  /* display: grid;
  place-items: center; */
}

.rsvp__submit p {
  color: var(--clr-text-main);
  font-weight: bold;
}

.rsvp__modal {
  padding: 0.75em;
  background: var(--clr-main);
  border-radius: 0.25rem;
  z-index: var(--z-index-modal);
  border: 0;
  outline: 0;
  box-shadow: var(--dark-shadow), var(--inner-shadow);
  color: var(--clr-text-light);
  text-align: left;
  font-family: var(--ff-accent);
  font-size: calc(var(--fs-300) * 1);
}

@media screen and (min-width: 1024px) {
  .rsvp__modal {
    padding: 1em;
  }
}

.rsvp__modal > * {
  padding: 0.25em;
}

.rsvp__modal h3 {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .rsvp__modal h3 {
    font-size: calc(var(--fs-500) * 1);
  }
}

/* rsvp form */

form div {
  margin-inline: auto;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.rsvp__modal form input,
.rsvp__modal form select,
.rsvp__modal form textarea {
  /* border-color: var(--clr-accent-dark);
  outline-color: var(--clr-accent-dark); */
  accent-color: var(--clr-accent-dark);
}

.rsvp__modal form > * {
  margin-bottom: 2em;
}

.rsvp__modal h3 {
  position: relative;
  margin-bottom: 1.25em;
  font-size: var(--fs-500);
}

.rsvp__modal h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-light);
  height: 2px;
  width: 25%;
  border-radius: var(--br-lines);
}

@media screen and (min-width: 1024px) {
  .rsvp__modal form label {
    font-size: calc(var(--fs-400) * 1);
  }
}

.rsvp__modal form input,
.rsvp__modal form select,
.rsvp__modal form textarea {
  padding: 0.25em 0.5em;
}
.rsvp__modal form input[type="radio"] {
  width: clamp(15px, 1.5vw, 20px);
  aspect-ratio: 1 / 1;
}

.rsvp__modal form input,
.rsvp__modal form select,
.rsvp__modal form textarea {
  border-radius: var(--br-modal);
  border-width: 0;
}

.rsvp__modal .radio-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp__modal .radio-wrapper .radio-container {
  display: flex;
  gap: 0.25em;
}

.rsvp .no-of-guests-wrapper {
  /* display: none; */
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.rsvp .guest-list-wrapper {
  /* display: none; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.rsvp .guest-list-wrapper input {
  width: calc(100% - 1rem);
}

@media screen and (min-width: 1024px) {
  .rsvp__modal {
    padding: 2em;
  }
}

.rsvp__modal > * {
  padding: 0.25em;
}

@media screen and (min-width: 1024px) {
  .rsvp__modal > * {
    padding: 0.5em;
  }
}

@media screen and (min-width: 1024px) {
  .rsvp__modal h3 {
    font-size: calc(var(--fs-500) * 1);
  }
}

@media screen and (min-width: 1024px) {
  .rsvp__modal label,
  .rsvp__modal input,
  .rsvp__modal form textarea {
    font-size: calc(var(--fs-400) * 1);
  }
}

.rsvp input[type="radio"]:checked + label {
  font-weight: bold;
}

.rsvp button[type="submit"] {
  display: block;
  max-width: 50%;
  margin: 2em auto 0;
  padding: 0.25em 2em;
  outline: 0;
  border: 0;
  background: var(--clr-accent-dark);
  background: linear-gradient(
        90deg,
        var(--clr-accent-dark) 0%,
        var(--clr-accent-med) 50%
      )
      padding-box,
    linear-gradient(to right, var(--clr-accent-med), var(--clr-accent-dark))
      border-box;
  border-radius: 50em;
  border: 5px solid transparent;
  color: var(--clr-text-light);
  cursor: pointer;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .rsvp button[type="submit"] {
    font-size: var(--fs-400);
  }
}

.rsvp button[type="submit"]:hover,
.rsvp button[type="submit"]:focus-within {
  background: var(--clr-accent-med);
  background: linear-gradient(
        90deg,
        var(--clr-accent-med) 0%,
        var(--clr-accent-dark) 50%
      )
      padding-box,
    linear-gradient(to right, var(--clr-accent-dark), var(--clr-accent-med))
      border-box;
}

/* registry */

@media screen and (min-width: 1024px) {
  #registry-page .floral-decoration {
    z-index: var(--z-index-decoration);
  }
}

.registry {
  text-align: center;
  place-items: center;
  width: 100%;
  overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
  .registry {
    place-items: initial;
    justify-items: center;
    align-content: space-evenly;
    grid-template-rows: 1fr;
  }
}

.registry-wrapper {
  display: grid;
  gap: 1em;
  max-width: min(100% - 4rem, 40ch);
  align-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .registry-wrapper {
    margin-bottom: 8rem;
  }
}

.registry-wrapper h1 {
  position: relative;
  margin-bottom: 0.25em;
}

.registry-wrapper h1::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-dark);
  height: 2px;
  width: 20%;
  border-radius: var(--br-lines);
}

.registry__options {
  background-color: var(--clr-accent-light);
  border-radius: 5px;
  padding: 1em;
  display: grid;
  place-items: center;
}

.registry__options p {
  font-size: var(--fs-300);
  margin-bottom: 0.5em;
  text-align: left;
}

.registry__options p:first-child {
  font-size: var(--fs-300);
  margin-top: 1em;
}

.registry-wrapper .registry-detail {
  margin-bottom: 1em;
}

.registry__modal {
  padding: 0.75em;
  background: var(--clr-main);
  border-radius: 0.25rem;
  z-index: var(--z-index-modal);
  border: 0;
  outline: 0;
  box-shadow: var(--dark-shadow), var(--inner-shadow);
  color: var(--clr-text-light);
}

@media screen and (min-width: 1024px) {
  .registry__modal {
    padding: 1em;
  }
}

.registry__modal > * {
  padding: 0.25em;
}

@media screen and (min-width: 1024px) {
  .registry__modal > * {
    padding: 0.5em;
  }
}

.registry__modal h3 {
  position: relative;
  margin-bottom: 0.25em;
}

.registry__modal h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-light);
  height: 2px;
  width: 25%;
  border-radius: var(--br-lines);
}

@media screen and (min-width: 1024px) {
  .registry__modal h3 {
    font-size: calc(var(--fs-500) * 1);
  }
}

.registry__modal p {
  font-family: var(--ff-accent);
  font-size: calc(var(--fs-300) * 1);
}

@media screen and (min-width: 1024px) {
  .registry__modal p {
    font-size: calc(var(--fs-400) * 1);
  }
}

[data-close-modal] {
  --button-color: var(--clr-text-light);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2em;
  background-color: transparent;
  outline: 0;
  border: 0;
}

[data-close-modal] .line {
  transition: y var(--button-animation-speed) ease-in
      var(--button-animation-speed),
    rotate var(--button-animation-speed) ease-in,
    opacity 0ms var(--button-animation-speed);
  transform-origin: center;
}

[data-close-modal] .line {
  transition: y var(--button-animation-speed) ease-in,
    rotate var(--button-animation-speed) ease-in var(--button-animation-speed),
    opacity 0ms var(--button-animation-speed);
}

[data-close-modal] :is(.top, .bottom) {
  y: 45;
}

[data-close-modal] .top {
  rotate: 45deg;
}

[data-close-modal] .middle {
  opacity: 0;
}

[data-close-modal] .bottom {
  rotate: -45deg;
}

/* thank you  */

@media screen and (min-width: 1024px) {
  #thank-you-page .floral-decoration {
    z-index: var(--z-index-decoration);
  }
}

.thank-you {
  text-align: center;
  place-items: center;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .thank-you {
    place-items: initial;
    justify-items: center;
    align-content: space-evenly;
    grid-template-rows: 1fr;
  }
}

.thank-you-wrapper {
  display: grid;
  gap: 4em;
  max-width: min(100% - 4rem, 40ch);
  align-content: space-evenly;
}

.thank-you-wrapper h1 {
  position: relative;
  margin-bottom: 0.25em;
}

.thank-you-wrapper h1::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-text-dark);
  height: 2px;
  width: 20%;
  border-radius: var(--br-lines);
}

.thank-you-detail {
  margin-top: 1em;
}

#back-link {
  color: var(--clr-main);
  font-weight: 700;
  transition: 150ms ease;
  font-size: var(--fs-500);
  position: relative;
}

#back-link:hover,
#back-link:focus {
  color: var(--clr-accent-dark);
  transform: scale(1.1);
}

#back-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-accent-dark);
  height: 2px;
  width: 0;
  transition: 250ms ease-in-out;
  border-radius: var(--br-lines);
}

#back-link:hover::after,
#back-link:focus::after {
  width: 75%;
}

.thank-you-names {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
